@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}
.navbar{
   display: flex;
   align-items:center ;
   justify-content: center;
   cursor: pointer;
   position: sticky;
   top:0;

}
.nav-list{
    display: flex;
    width: 70%;

   /* justify-content: center; */
   align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li:hover{
    color: gray;
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
   font-family: 'Ubuntu', sans-serif;
}
.rightnav{
    padding: 0px 23px;
    width: 30%;
    text-align: right;
}
#search{
    padding:5px;
    font-size: 17px; ;
    border: 2px solid gray;
    border-radius: 9px;

}
.background{
    background: rgba(0, 0, 0,0.5 ) ;
    background-size: cover;
    background-blend-mode: darken;


}
.burger{
    display: none;
  position: fixed;
  cursor: pointer;
  right:5%;
  top:15px;
  
}
.line{
    width: 33px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        height: 4px;
    margin: 5px 3px;
}
.search{
    padding: 3px 11px;
    margin:7px 3px;
    border:2px solid white;
    border-radius:8px;
    background: none;
    color:white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size:16px;

}

.search:hover{
    transform: scale(1.1);
    background-color: white;
color: black;

}
.bimg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.bimg img{
    width: 100vw;
    height: 100%;
}

.contact{
    /* background:white; */
    height: 100%;
}
.contact1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;   
    font-size:35px ;
}
.form input{
    margin:14px 0;
    padding: 5px 3px;
    width:100%; 
    font-size: 20px;
    border:2px solid grey;
    border-radius: 6px;
}
.form{
    max-width: 62%;
    margin:25px auto;

}
.submit{
    padding: 3px 20px;
    margin:7px 3px;
    border:2px solid black;
    border-radius:8px;
    background-color: white;
    color:black;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size:16px;

}

.submit:hover{
    transform: scale(1.1);
    background-color: black;
color: white;

}