@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}
.navbar{
   display: flex;
   align-items:center ;
   justify-content: center;
   cursor: pointer;
   position: sticky;
   top:0;

}
.nav-list{
    display: flex;
    width: 70%;

   /* justify-content: center; */
   align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li:hover{
    color: gray;
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
   font-family: 'Ubuntu', sans-serif;
}
.rightnav{
    padding: 0px 23px;
    width: 30%;
    text-align: right;
}
#search{
    padding:5px;
    font-size: 17px; ;
    border: 2px solid gray;
    border-radius: 9px;

}
.background{
    background: rgba(0, 0, 0, 0.7) url('./2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.burger{
    display: none;
  position: fixed;
  cursor: pointer;
  right:5%;
  top:15px;
  
}
.line{
    width: 33px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        height: 4px;
    margin: 5px 3px;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firstsection{
     height:100vh;
}
.firsthalf{
    width:80%;
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.secondhalf img{
    width: 70%;
    border: 2px solid white;
    border-radius: 150px ;
    display: block;
    margin: auto;
}
.bigtext{
  font-size: 40px;
}
.smalltext{
  font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin:7px 3px;
    border:2px solid white;
    border-radius:8px;
    background: none;
    color:white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}
.section{
    display: flex;
   
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin:auto;
    font-family: 'Ubuntu', sans-serif;    
 
}
.left{
 flex-direction: row-reverse;
}
.para{
    padding:0px 65px;
}
.sectionsubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumb img{
    height: 250px;
    width:260px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}
.sectiontag{
  padding: 16px 0px;
}
.contact{
    background-color:#f6eeee;
    height: 833px;
}
.contact1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;   
    font-size:35px ;
}
.form input{
    margin:14px 0;
    padding: 5px 3px;
    width:100%; 
    font-size: 20px;
    border:2px solid grey;
    border-radius: 6px;
}
.form{
    max-width: 62%;
    margin:25px auto;

}
.btn-dark{
    padding: 8px 20px;
    margin:7px 3px;
    border:2px solid black;
    border-radius:8px;
    background: none;
    color:grey;
    cursor: pointer;
}
.form-input{
        margin:14px 0;
        padding: 5px 3px;
        width:100%; 
        font-size: 20px;
        border:2px solid grey;
        border-radius: 6px;
    
}
.text-footer{
    text-align: center;
    padding: 30px 0px;
    font-family: 'Ubuntu', sans-serif;   
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}
@media only screen and (max-width:1140px) {
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        position: fixed;
        width: 100%;
        top: -100%;
        flex-direction: column;
        background-color: none;
        height:478px;
        transition: all 0.7s ease-out;
    }
    .show{
        top: 0;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        
        display: block;
    }
    .h-nav{
        height:22px
    }
    .v-class{
      opacity: 0;
    }
    .section{
        flex-direction: column-reverse  ;
    }
    .bigtext{
        text-align: center;
    }
    .smalltext{
        text-align: center;
    }
    .para{
        padding: 0px;
    }
}